# mocks should be generated before tests and not stored in source control
mocks/

# bin directory for compiled binaries
bin/

# ignore code coverage files
.coverage/

# ignore prioritized transactions
prioritized_transactions.txt